<h2>join us today!</h2>

<form action="/signup" method="POST">
  <label>
    Email:
    <input type="email" name="email" />
  </label>

  <label>
    password:
    <input type="password" name="password" />
  </label>
  <button>Create</button>
</form>